<button type="button" pButton label="PrimeNG"></button>
<button pButton type="button" label="Click" ></button>
<p-button label="Click" ></p-button>



<h1>"Hello world"</h1>
<h2>"skad jestes?"</h2>
Wpisz swoje miasto:<br>
<app-whereyoufrom city="WARSZAWA"> </app-whereyoufrom>
<app-whereyoufrom city="Krakow"> </app-whereyoufrom>
<app-whereyoufrom city="Katowice"> </app-whereyoufrom>
<!--<input id="przycisk" type="button" value="DODAJ MIASTO" />-->
<h2>"czym sie zajmujesz?"</h2>
<app-whatareyoudoingforlife> </app-whatareyoudoingforlife>



//dwa komponenty: poczytac o outputach inputach- zeby komponent whereyoufrom ladowal, city ma byc aprameterm wejsciowym
//komponent1- info skad jestesa
//komponent 2- czyms ie zajmujesz i oba maja byc wyswietlone w app.component.html
//poczytac o outputach inputach
//
//zrobic fomularz i zapis: nick i castko jakie zamowic do niego
